@model StudentCheck.DataAccess.ModelViews.ManageSubjectViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="row" id="parent-create-subject" style="margin-top: 3%;">
    <button type="button" class="btn btn-primary" id="btnCreateSubject">เพิ่มวิชา</button>
    <partial name="_CreateSubjectModal" model="Model" />
</div>
<div class="row" id="parent-subject-datatable" style="margin-top: 3%;">
    <partial name="_DatatableOfSubject" model="Model" />
</div>

@section Scripts {

<script>

    $(function () {
        $("#subject-datatable").DataTable();

        //SetPositionValueOfStudentDatatable();


        //$(".form-inline").css("margin-bottom").replace(/[^-d.]/g, '');


    });

    $("#btnCreateSubject").click(function () {
        $("#create-subject-form")[0].reset();
        $(".field-validation-error span").hide();
        $("#modal-create-subject").modal("show");
    });

    function UpdateSubjectTable() {
        $.ajax({
            url: "ManageSubject/UpdateSubjectTable",
            success: function (res) {
                $("#parent-subject-datatable").html(res);
                $("#subject-datatable").DataTable();

                SetPositionValueOfSubjectDatatable();
            },
            error: function () { }
        });
    }

    var OnSaveSubjectSuccess = function (res) {
        if (res) {
            alert("Save Success");
            UpdateSubjectTable();
        }
        else {
            alert("Error");
        }
    };

    var OnUpdateSubjectSuccess = function (res) {
        if (res) {
            alert("Update Success");
            UpdateSubjectTable();
        }
        else {
            alert("Error");
        }
    };

    function DeleteSubject(SubjectId) {
        $.ajax({
            type: "POST",
            url: "ManageSubject/DeleteSubject",
            data: { SubjectId: SubjectId },
            success: function (res) {
                if (res) {
                    alert("Delete Success");
                    UpdateSubjectTable();
                }
                else {
                    alert("Error");
                }
            },
            error: function () { }
        });
    }

</script>
   
    }