@model StudentCheck.DataAccess.ModelViews.ReportViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row" id="parent-report-datatable" style="margin-top: 3%;">
    <partial name="_DatatableOfReport" model="Model" />
</div>

ipt>

    $(function () {
        $("#report-datatable").DataTable();

@section Scripts {

    <scr
        //SetPositionValueOfStudentDatatable();


    //$(".form-inline").css("margin-bottom").replace(/[^-d.]/g, '');


    });

    $("#btnReport").click(function () {
    $("#create-report-form")[0].reset();
    $(".field-validation-error span").hide();
    $("#modal-create-report").modal("show");
    });
    </script>
}