@model StudentCheck.DataAccess.ModelViews.ManageStudentViewModel

<div class="modal fade" id="modal-create-student">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="create-student-form" asp-controller="ManageStudent" asp-action="SaveStudent" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSaveStudentSuccess">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Create Student</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatStudent.StudentId">รหัสนักศึกษา</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatStudent.StudentId" class="form-control" />
                            <span asp-validation-for="modelCreatStudent.StudentId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label></label>
                        </div>
                        <div class="form-group col-sm-3">
                            <select class="form-control" asp-for="modelCreatStudent.StudentPrefix">
                                <option value="">--- กรุณาเลือก ---</option>
                                <option value="นาย">นาย</option>
                                <option value="นาง">นาง</option>
                                <option value="นางสาว">นางสาว</option>

                            </select>
                
                        </div>
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatStudent.StudentFirstname">ชื่อ</label>
                        </div>


                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatStudent.StudentFirstname" class="form-control" />
                            <span asp-validation-for="modelCreatStudent.StudentFirstname" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatStudent.StudentLastname">นามสกุล</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatStudent.StudentLastname" class="form-control" />
                            <span asp-validation-for="modelCreatStudent.StudentLastname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatStudent.StudentTel">เบอร์โทร</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatStudent.StudentTel" class="form-control" />
                            <span asp-validation-for="modelCreatStudent.StudentTel" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatStudent.StudentEmail">อีเมล</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatStudent.StudentEmail" class="form-control" />
                            <span asp-validation-for="modelCreatStudent.StudentEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatStudent.StudentTel">FaceBook</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatStudent.StudentFacebook" class="form-control" />
                            <span asp-validation-for="modelCreatStudent.StudentFacebook" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatStudent.StudentLine">Line</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatStudent.StudentLine" class="form-control" />
                            <span asp-validation-for="modelCreatStudent.StudentLine" class="text-danger"></span>
                        </div>
                    </div>

   <div class="row">
                        <label>ข้อมูลผู้ปกครอง</label>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatStudent.StudentParentName">ชื่อ</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatStudent.StudentParentName" class="form-control" />
                            <span asp-validation-for="modelCreatStudent.StudentParentName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatStudent.StudentParentNumber">เบอร์โทร</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatStudent.StudentParentNumber" class="form-control" />
                            <span asp-validation-for="modelCreatStudent.StudentParentNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatStudent.StudentParentEmail">อีเมล</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatStudent.StudentParentEmail" class="form-control" />
                            <span asp-validation-for="modelCreatStudent.StudentParentEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatStudent.StudentlineParent">Line</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatStudent.StudentlineParent" class="form-control" />
                            <span asp-validation-for="modelCreatStudent.StudentlineParent" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatStudent.StudentAddress">ที่อยู่</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatStudent.StudentAddress" class="form-control" />
                            <span asp-validation-for="modelCreatStudent.StudentAddress" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ปิด</button>
                    <button type="submit" class="btn btn-primary">เพิ่ม</button>
                </div>
            </form>
        </div>
    </div>
</div>