@model StudentCheck.DataAccess.ModelViews.ManageStudentViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row" id="parent-create-student" style="margin-top: 3%;">
    <div class="col-2">
        <button type="button" class="btn btn-primary" id="btnCreateStudent">เพิ่มข้อมูลนักศึกษา</button>
        <partial name="_CreateStudentModal" model="Model" />
    </div>
    <div class="col-10">
        <input type="file" class="form-control" id="studentDataFile" name="studentDataFile" />
        <button type="button" class="btn btn-primary" id="btnUploadFile">อัพโหลด</button>
    </div>
</div>
<div class="row" id="parent-student-datatable" style="margin-top: 3%;">
    <partial name="_DatatableOfStudent" model="Model" />
</div>

@section Scripts {

    <script>

        $(function () {
            $("#student-datatable").DataTable();

            //SetPositionValueOfStudentDatatable();


            //$(".form-inline").css("margin-bottom").replace(/[^-d.]/g, '');

 
        });

        $("#btnCreateStudent").click(function () {
            $("#create-student-form")[0].reset();
            $(".field-validation-error span").hide();
            $("#modal-create-student").modal("show");
        });

        $("#btnUploadFile").click(function () {
            var formData = new FormData();
            formData.append('studentDataFile', $('#studentDataFile')[0].files[0]);
            $.ajax({
                url: '@Url.Action("UploadStudentDataFile", "ManageStudent")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    $("#parent-student-datatable").html(res);
                    $("#student-datatable").DataTable();
                }
            });
        });

        //function SetPositionValueOfStudentDatatable() {
        //    $("select[name='modelCreatStudent.PositionId']").each(function () {
        //        var positionId = $(this).closest("tr").find(".position-id-value").val();
        //        $(this).val(positionId);
        //    });
        //}

        function UpdateStudentTable() {
            $.ajax({
                url: "ManageStudent/UpdateStudentTable",
                success: function (res) {
                    $("#parent-student-datatable").html(res);
                    $("#student-datatable").DataTable();

                    SetPositionValueOfStudentDatatable();
                },
                error: function () { }
            });
        }

        var OnSaveStudentSuccess = function (res) {
            if (res) {
                alert("Save Success");
                UpdateStudentTable();
            }
            else {
                alert("Error");
            }
        };

        var OnUpdateStudentSuccess = function (res) {
            if (res) {
                alert("Update Success");
                UpdateStudentTable();
                $(".modal-edit").modal("hide");
            }
            else {
                alert("Error");
            }
        };

        function DeleteStudent(StudentId) {
            $.ajax({
                type: "POST",
                url: "ManageStudent/DeleteStudent",
                data: { StudentId: StudentId },
                success: function (res) {
                    if (res) {
                        alert("Delete Success");
                        UpdateStudentTable();
                    }
                    else {
                        alert("Error");
                    }
                },
                error: function () { }
            });
        }

    </script>

}