@model StudentCheck.DataAccess.ModelViews.ManageProfessorViewModel

<div class="modal fade" id="modal-create-professor">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="create-professor-form" asp-controller="ManageProfessor" asp-action="SaveProfessor" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSaveProfessorSuccess">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Create Professor</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatProfessor.ProfessorsId">รหัสอาจารย์</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatProfessor.ProfessorsId" class="form-control" />
                            <span asp-validation-for="modelCreatProfessor.ProfessorsId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label>ตำแหน่ง</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <select class="form-control" asp-for="modelCreatProfessor.PositionId" asp-items="Model.modelCreatProfessor.PositionSelectList">
                                <option value="">--- กรุณาเลือก ---</option>
                            </select>
                            <span asp-validation-for="modelCreatProfessor.PositionId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatProfessor.ProfessorsFirstname">ชื่อ</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatProfessor.ProfessorsFirstname" class="form-control" />
                            <span asp-validation-for="modelCreatProfessor.ProfessorsFirstname" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatProfessor.ProfessorsLastname">นามสกุล</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatProfessor.ProfessorsLastname" class="form-control" />
                            <span asp-validation-for="modelCreatProfessor.ProfessorsLastname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatProfessor.ProfessorsFacultys">คณะ</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatProfessor.ProfessorsFacultys" class="form-control" />
                            <span asp-validation-for="modelCreatProfessor.ProfessorsFacultys" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatProfessor.ProfessorsBranch">สาขา</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatProfessor.ProfessorsBranch" class="form-control" />
                            <span asp-validation-for="modelCreatProfessor.ProfessorsBranch" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatProfessor.ProfessorsTel">เบอร์โทร</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatProfessor.ProfessorsTel" class="form-control" />
                            <span asp-validation-for="modelCreatProfessor.ProfessorsTel" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatProfessor.ProfessorsEmail">อีเมล</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatProfessor.ProfessorsEmail" class="form-control" />
                            <span asp-validation-for="modelCreatProfessor.ProfessorsEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatProfessor.ProfessorsFacebookId">Facebook</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatProfessor.ProfessorsFacebookId" class="form-control" />
                        </div>
                        <div class="form-group col-sm-1">
                            <label asp-for="modelCreatProfessor.ProfessorslineId">Line</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input asp-for="modelCreatProfessor.ProfessorslineId" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ปิด</button>
                    <button type="submit" class="btn btn-primary">เพิ่ม</button>
                </div>
            </form>
        </div>
    </div>
</div>