@model StudentCheck.DataAccess.ModelViews.ManageProfessorViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top: 3%;">
    <button type="button" class="btn btn-primary" id="btnCreateProfessor">เพิ่มข้อมูลอาจารย์</button>
    <partial name="_CreatePrefessorModal" model="Model" />
</div>
<div class="row" id="professor-datatable-parent" style="margin-top: 3%;">
    <partial name="_DatatableOfProfessor" model="Model" />
</div>

@section Scripts {

    <script>

        $(function () {
            $("#professor-datatable").DataTable();

            SetPositionValueOfProfessorDatatable();
        });

        $("#btnCreateProfessor").click(function () {
            $("#create-professor-form")[0].reset();
            $(".field-validation-error span").hide();
            $("#modal-create-professor").modal("show");
        });

        function SetPositionValueOfProfessorDatatable() {
            $("select[name='modelCreatProfessor.PositionId']").each(function () {
                var positionId = $(this).closest("tr").find(".position-id-value").val();
                $(this).val(positionId);
            });
        }

        var OnSaveProfessorSuccess = function (res) {
            if (res) {
                alert("Save Success");

                $.ajax({
                    url: "ManageProfessor/UpdateProfessorTable",
                    success: function (res) {
                        $("#professor-datatable-parent").html(res);
                        $("#professor-datatable").DataTable();

                        SetPositionValueOfProfessorDatatable();
                    },
                    error: function () { }
                });
            }
            else {
                alert("Error");
            }
        };

        var OnUpdateProfessorSuccess = function (res) {
            if (res) {
                alert("Update Success");

                $.ajax({
                    url: "ManageProfessor/UpdateProfessorTable",
                    success: function (res) {
                        $("#professor-datatable-parent").html(res);
                        $("#professor-datatable").DataTable();

                        SetPositionValueOfProfessorDatatable();
                    },
                    error: function () { }
                });
            }
            else {
                alert("Error");
            }
        };

        function DeleteProfessor(ProfessorId) {
            $.ajax({
                type: "POST",
                url: "ManageProfessor/DeletePrefessor",
                data: { ProfessorId: ProfessorId },
                success: function (res) {
                    if (res) {
                        alert("Delete Success");

                        $.ajax({
                            url: "ManageProfessor/UpdateProfessorTable",
                            success: function (res) {
                                $("#professor-datatable-parent").html(res);
                                $("#professor-datatable").DataTable();

                                SetPositionValueOfProfessorDatatable();
                            },
                            error: function () { }
                        });
                    }
                    else {
                        alert("Error");
                    }
                },
                error: function () { }
            });
        }

    </script>

}